<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
    <div class="login">
        <h1>Text Similarity Detection </h1>
        <form action="textsimilarity"method="post">
            <input type="text" name="str1" placeholder="Write First String Here" required="required"/>
            <input type="text" name="str2" placeholder="Write Second String Here" required="required">
            <button type="submit" class="btn btn-primary btn-block btn-large" value="similarity">Submit</button>
        </form>
        <p style="text-align: left;">Similarity: {{ similarity }}</p>
    </div>
</body>
</html>